@media (max-width: 1120px) and (min-width: 991px) {

}

@media (max-width: 992px) and (min-width: 480px) {
  .hero_area {
    min-height: auto;
  }

  .navbar-nav {
    align-items: center;
  }

  .custom_nav-container .navbar-toggler {
    margin-bottom: 15px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 25px;
    margin: 5px 0;
  }

  .custom_nav-container.navbar-expand-lg .form-inline {
    justify-content: center;
  }

  .custom_nav-container.navbar-expand-lg {
    padding-top: 10px;
    align-items: center;
  }

  .slider_section {
    padding: 45px 0 150px 0;
  }

  .sub_page .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding-bottom: 15px;
  }
  .service_section .container .box .img-box .img-bene {
    height: 165px;
    width: 165px;
  }
  .service_section .container .box .detail-box p {
      margin: 2rem;
      text-align: center;
  }
    .box1 .detail-box .heading_container #text-bene{
        text-shadow: 0 0 1em black, 0 0 1em black, 0 0 0.2em black;
        margin: 2em 2em 0 2em;
    }

    .about_section .img_container .img-box img {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 768px) {
  .slider_section ol.carousel-indicators {
    justify-content: center;
  }

  .slider_section {
    text-align: center;
  }

  .slider_section .img-box {
    margin-top: 35px;
  }

  .slider_section .detail-box .btn-box {
    justify-content: center;
    flex-wrap: wrap;
  }
  .slider_section .detail-box2 .btn-box {
    justify-content: center;
    flex-wrap: wrap;
  }
  .about_section .heading_container {
    margin-bottom: 0;
  }

  .about_section .row {
    flex-direction: column-reverse;
  }

  .about_section .detail-box {
    margin-left: 0;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }
  .about_section .detail-box2 {
    margin-left: 0;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }

    .about_section .img_container .img-box img {
        width: 100%;
        height: 300px;
    }
  .service_section .service_container {
    flex-wrap: wrap;
  }

  .client_section .carousel_btn-box {
    margin-top: 25px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    position: unset;
    transform: none;
    margin: 0 2.5px;
  }

  .info_section .row .col-md-3 {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .info_section .info_logo {
    align-items: center;
  }

  .info_section .info_form .social_box {
    justify-content: center;
  }

  .info_section .info_form .social_box a {
    margin: 0 5px;
  }

    .box1 .detail-box .heading_container #text-bene{
        text-shadow: 0 0 1em black, 0 0 1em black, 0 0 0.2em black;
        margin: 2em 2em 0 2em;
    }

}

@media (max-width: 576px) {
  .header_top a span {
    display: none;
  }

  .slider_section .detail-box h1 {
    font-size: 2.5rem;
    line-height: 55px;
  }
  .slider_section .detail-box2 h1 {
    font-size: 2.5rem;
    line-height: 55px;
  }
}


@media only screen and (max-width: 480px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    width: 40%;
  }
  .nav-link {
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .hero_area {
    min-height: auto;
  }

  .navbar-nav {
    align-items: center;
  }

  .custom_nav-container .navbar-toggler {
    margin-bottom: 15px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 25px;
    margin: 5px 0;
  }

  .custom_nav-container.navbar-expand-lg .form-inline {
    justify-content: center;
  }

  .custom_nav-container.navbar-expand-lg {
    padding-top: 10px;
    align-items: center;
  }

  .slider_section {
    padding: 45px 0 150px 0;
  }

  .sub_page .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding-bottom: 15px;
  }
    .box1 .detail-box .heading_container #text-bene{
        text-shadow: 0 0 1em black, 0 0 1em black, 0 0 0.2em black;
        margin: 1em 1em 1em 1em;
    }
}


@media (max-width: 376px) {}


@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}