@media (max-width: 576px) {
    .header_top a span {
        display: none;
    }

    .slider_section .detail-box h1 {
        font-size: 2.5rem;
        line-height: 55px;
    }
    .slider_section .detail-box2 h1 {
        font-size: 2.5rem;
        line-height: 55px;
    }
}