@media (max-width: 1920px) and (min-width: 1400px) {
  body {
    font-size: 1.5rem;
  }
  .container{

  }
  .hero_area {
    min-height: 120vh;}

  .header_section .container-fluid .navbar {
    height: 150px;
  }

  .header_section .container-fluid .navbar img {
    max-height: 210px;
    max-width: 210px;
  }

  .collapse .navbar-nav .nav-item a {

    font-size: 1.5rem;
  }

  .slider_section .detail-box h1 {
    text-transform: uppercase;
    font-size: 4rem;
    color: #ffffff;
    font-weight: 600;
  }

  .slider_section .detail-box p {
    margin-top: 25px;
  }

  .slider_section .detail-box .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }

  .slider_section .detail-box .btn-box a {
    width: 250px;
    text-align: center;
    margin: 5px;
  }

  .slider_section .detail-box .btn-box .btn-1 {
    display: inline-block;
    padding: 10px 35px;
    background-color: #ffffff;
    color: #000000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
  }

  .slider_section .detail-box .btn-box .btn-1:hover {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
  }

  .slider_section .detail-box .btn-box .btn-2 {
    display: inline-block;
    padding: 10px 35px;
    background-color: #EABE3F;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
  }

  .slider_section .detail-box .btn-box .btn-2:hover {
    background-color: transparent;
    border-color: #EABE3F;
    color: #EABE3F;
  }


  .service_section {
    background-image: url("../img/backInt.png");
    padding: 20px;
  }
  .service_section .container{
    max-width: 90%;
  }
  .service_section .container .heading_container h2{
    font-size: 2.75rem;
  }
  .service_section .box {
    background-color: #ffffff;
    padding: 20px 20px ;
    text-align: center;
    -webkit-box-shadow: 0 0 15px 0 rgb(0, 0, 0);
    box-shadow: 0 0 15px 0 rgb(0, 0, 0);
    margin-top: 45px;
    height: 700px;
    width: 100%;
  }
  .service_section .box1 .detail-box{
   padding-top: 50px;
  }
  .service_section .box .detail-box h6{
    font-size: 1.5rem;
  }

  .premios_section .container .detail-box h3{
    font-size: 2.5rem;
  }
  .premios_section .container .detail-box .heading_container{
    width: 100%;
  }
  .premios_section .regular img{
    width: 466px;
    height: 750px;
    padding: 10px;
  }

  .info_section a{
    font-size: 2rem;
  }
  .info_section .container
  {
    max-width: 1630px;
    padding: 0 100px;
  }





}

@media (max-width: 1399px) and (min-width: 1251px) {
.about_section .solicitarCuenta {
  margin-left: 6.5%;
}
  .about_section .descargarApp {
    margin-left: 3.5%;
  }


  .premios_section .regular img{
    height: 700px;
    padding: 10px;
  }



}
@media (max-width: 1250px) and (min-width: 980px){
  .premios_section .regular img{
    height: 500px;
    padding: 10px;
  }



}

@media (max-width: 980px) and (min-width: 480px) {
  .hero_area {
    min-height: auto;
  }

  .navbar-nav {
    align-items: center;
  }

  .custom_nav-container .navbar-toggler {
    margin-bottom: 15px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 25px;
    margin: 5px 0;
  }

  .custom_nav-container.navbar-expand-lg .form-inline {
    justify-content: center;
  }

  .custom_nav-container.navbar-expand-lg {
    padding-top: 10px;
    align-items: center;
  }

  .slider_section {
    padding: 45px 0 150px 0;
  }

  .sub_page .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding-bottom: 15px;
  }
  .service_section .container .box .img-box .img-bene {
    height: 165px;
    width: 165px;
  }
  .service_section .container .box .detail-box p {
      margin: 2rem;
      text-align: center;
  }
    .box1 .detail-box .heading_container #text-bene{
        text-shadow: 0 0 1em black, 0 0 1em black, 0 0 0.2em black;
        margin: 2em 2em 0 2em;
    }

    .about_section .img_container .img-box img {
        width: 100%;
        height: 300px;
    }

  .premios_section .regular img{

    height: 550px;

  }
}

@media (max-width: 768px) {
  .slider_section ol.carousel-indicators {
    justify-content: center;
  }

  .slider_section {
    text-align: center;
  }

  .slider_section .img-box {
    margin-top: 35px;
  }

  .slider_section .detail-box .btn-box {
    justify-content: center;
    flex-wrap: wrap;
  }
  .slider_section .detail-box2 .btn-box {
    justify-content: center;
    flex-wrap: wrap;
  }
  .about_section .heading_container {
    margin-bottom: 0;
  }

  .about_section .row {
    flex-direction: column-reverse;
  }

  .about_section .detail-box {
    margin-left: 0;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }
  .about_section .detail-box2 {
    margin-left: 0;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }

    .about_section .img_container .img-box img {
        width: 100%;
        height: 300px;
    }
  .service_section .service_container {
    flex-wrap: wrap;
  }

  .client_section .carousel_btn-box {
    margin-top: 25px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    position: unset;
    transform: none;
    margin: 0 2.5px;
  }

  .info_section .row .col-md-3 {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .info_section .info_logo {
    align-items: center;
  }

  .info_section .info_form .social_box {
    justify-content: center;
  }

  .info_section .info_form .social_box a {
    margin: 0 5px;
  }

    .box1 .detail-box .heading_container #text-bene{
        text-shadow: 0 0 1em black, 0 0 1em black, 0 0 0.2em black;
        margin: 2em 2em 0 2em;
    }

}

@media (max-width: 576px) {
  .header_top a span {
    display: none;
  }

  .slider_section .detail-box h1 {
    font-size: 2.5rem;
    line-height: 55px;
  }
  .slider_section .detail-box2 h1 {
    font-size: 2.5rem;
    line-height: 55px;
  }
}


@media only screen and (max-width: 480px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    width: 40%;
  }
  .nav-link {
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .hero_area {
    min-height: auto;
  }

  .navbar-nav {
    align-items: center;
  }

  .custom_nav-container .navbar-toggler {
    margin-bottom: 15px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 25px;
    margin: 5px 0;
  }

  .custom_nav-container.navbar-expand-lg .form-inline {
    justify-content: center;
  }

  .custom_nav-container.navbar-expand-lg {
    padding-top: 10px;
    align-items: center;
  }

  .slider_section {
    padding: 45px 0 150px 0;
  }

  .sub_page .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding-bottom: 15px;
  }
    .box1 .detail-box .heading_container #text-bene{
        text-shadow: 0 0 1em black, 0 0 1em black, 0 0 0.2em black;
        margin: 1em 1em 1em 1em;
    }
  .premios_section .regular img{

  }
}


@media (max-width: 376px) {}

